example
pip
*.user
*.filters
MayaNodes/bin
MayaNodes/CMakeFiles
MayaNodes/Debug
MayaNodes/skelTree.dir
MayaNodes/x64
MayaNodes/.vs
*.vcxproj
*.sln
*.pyc
*.pyc
MayaNodes/CMakeCache.txt
MayaNodes/ALL_BUILD.vcxproj
*.pyc
*.lib
*.pdb
*.exp
